NODE_ENV = development
PORT =
FRONTEND_URL = http://127.0.0.1:5174

# Configuration de la base de données
DB_HOST = localhost
DB_USER =
DB_PASSWORD = 
DB_NAME = 
DB_DIALECT = mysql
DB_PORT = 3306

# Secret pour access et refresh token
JWT_ACCESS_SECRET =
ACCESS_EXPIRATION = 15m
JWT_REFRESH_SECRET =
REFRESH_EXPIRATION = 7d